<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="¿Quieres saber lo que te depara el futuro o tienes curiosidad por algun aspecto de tu vida? Entra y descubrirás cosas que no podias imaginar.">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos-product.css">
    <title>Tarot</title>
</head>
<body>
    <div class="padre">
        <header class="header">
            <div class="menu margen-interno">
                <div class="logo"><a href="../index.html">Aquelarre Rebe</a></div>
                <nav class="nav">
                    <a href="/index.html">Inicio</a>
                    <a class="active" href="#">Lecturas</a>
                    <a href="/views/presupuesto.html">Presupuesto</a>
                    <a href="/views/contacto.html">Contacto</a>
                </nav>
                <div class="social">
                    <a target="_blank" href="https://www.instagram.com/aquelarre_rbe/"><i class="fa-brands fa-instagram fa-3x"></i></a>
                </div>
            </div> 
        </header> 
        <main class="lecturas">
            <div class="galeria">
                <div class="title">
                    <h2>Lecturas a elegir</h2>
                    <hr>
                </div>  
                <div class="images">
                    <img src="/assets/images/amor.jpg" alt="amor" title="AMOR">                      
                    <img src="/assets/images/dinero.jpg" alt="dinero" title="DINERO">
                    <img src="/assets/images/pareja.jpg" alt="pareja" title="PAREJA">
                    <img src="/assets/images/sexo.jpg" alt="sexo" title="SEXO">
                    <img src="/assets/images/trabajo.jpg" alt="trabajo" title="TRABAJO">
                    <img src="/assets/images/salud.jpg" alt="salud" title="SALUD">
                    <img src="/assets/images/astrologia.jpg" alt="astrologia" title="ASTROLOGIA">

                </div>  
            </div>
        </main>
        <footer class="footer">
            <nav class="n-footer margen-interno">
                <a href="">Telefono de contacto: 625478384</a>
                <a href="">Aviso legal</a>
            </nav>
        </footer>
    </div> 
</body>
</html>            